body{
  font-family: 'BenchNine', sans-serif;
  margin: 0 auto;
  width: 60%;
  min-width: 460px;
  max-width: 800px;
  padding: 8px;
}

h1, h2{
  font-size: 2.3em;
  text-align: right;
}

h2{font-size: 1.75em;}

h3{
  margin: 8px 0 5px 0;
  font-size: 1.5em;
}

h4{
  font-size: 1.2em;
  padding: 2px 0 2px 0;
  font-weight: 100;
}

h5{
  text-align: right;
}

p, li{
  font-family: 'Arapey', sans-serif;
  text-align: justify;
  font-size: 1em;
}

p{margin-bottom: 10px;}

ul{
  padding-left: 3.5em;
  list-style: none;
}

li{ float: left;}

ul li:before { content: "\00BB"; }

a, a:visited{
  text-decoration: none;
  color: rgb(0, 128, 128);
}

a:hover{
  color: rgb(122, 128, 128);
}

#experience p{margin: 0;}

#summary h4{
  text-align: right;
  font-size: 1.4em;
}

@-moz-document url-prefix() {
  p{margin-bottom: 20px;}
}

@media print{
  body{width: 80%;}
  h3{font-size:20px;}
  p{font-size: 15px;}
}
